.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: auto auto;
  height: 100vh;
  overflow: scroll;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(91, 0, 165);
  color: white;
  grid-column: 1 / span 2;
  padding: 10px 5px;
}

button {
  font-family: 'Lato', sans-serif;
  background-color:rgb(209, 229, 246);
  border-color: rgb(163, 182, 182);
  border-radius: 3px;
  transition-duration: .4s;
}

button:hover {
  background-color: aliceblue;
}

img {
  padding-right: 5px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 10px;
}

nav {
  background: rgb(85,81,156);
  background: linear-gradient(rgb(208, 208, 255), rgba(160,234,249,1));
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}
